<!--@subject Details@-->
{{trans "Email: %email" email=$data.email}}
{{trans "Comment: %comment" comment=$data.comment}}
{{trans "Phoneno: %phoneno" phoneno=$data.phoneno}}
{{trans "Apporixmatedate: %apporixmatedate" apporixmatedate=$data.apporixmatedate}}
{{trans "Birthday: %birthday" birthday=$data.birthday}}
{{trans "Iam: %iam" iam=$data.iam}}
{{trans "Dress: %dress" dress=$data.dress}}
{{trans "Size: %size" size=$data.size}}
{{trans "Color: %color" color=$data.color}}
{{trans "Stylenumber: %stylenumber" stylenumber=$data.stylenumber}}
{{trans "Location: %location" location=$data.location}}


